.brands__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 100%;
  gap: 0.2rem;  
}

.brands__container  img {
  max-width: 90px;
}


@media screen and (max-width: 1024px) {  
}



@media screen and (max-width: 600px) { 
    .brands__container {
  display: grid;
  grid-template-columns: repeat(2,2fr);
  justify-items: center;
  margin-bottom: 2rem;

  
}
}