
.form{
  margin-top: 4rem;
  font-size: 14px;  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}  

.form  p {
  margin-bottom: 5px;
}
label {
  margin-top: 2rem;
  font-size: 20px;
  line-height: 29px;
  align-items: center;

}
.form_title{
  text-align: center;
}

form{
  margin: 2rem;
  font-size: 14px;  
  background-color: white;
  border-radius: 3px;
  color: var(--second-color);
  font-size: 0.8em;
  /* padding: 20px; */
  /* margin: 0 auto; */
  
}

		input, select{
			border: 0;
			outline: none;
      /* height: 20px; */
			width: 100%;
      height: 50px;
		}

		.field{
			border: solid 1px #68737D;
			padding-left: 10px; 
      margin-bottom: 15px;

			
		}

		.field:focus{
			border-color: #18A383;
		}

		.center-content{
			text-align: center;
		}
.error{
        color: #e74e4e;
        margin-top: -15px;

}

button {
 width: 100%;
 cursor: pointer;
 font-weight: 700;
 transition: all .2s;
 padding: 10px 20px;
 color: #fff;
 background: var(--second-color);
 border: 1px solid transparent;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 15px;
 height: 50px
}



button:hover {
 background: #212926;
}

button > .svg {
 width: 34px;
 margin-left: 10px;
 transition: transform .3s ease-in-out;
 fill: #ffff;

 
}

button:hover .svg {
 transform: translateX(5px);
}

button:active {
 transform: scale(0.95);
}


.countryDropDown > select {
  background-color: #fff;
  color: #68737D ;
}

@media screen and (max-width: 1024px) {
.form{
  margin-top: 0;
}  
}

@media screen and (max-width: 600px) {
  form{
    margin: 0;
  }
  label {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 29px;
    align-items: center;

}
  
}