
.form{
  margin-top: 4rem;
  font-size: 14px;  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}  

.form  p {
  margin-bottom: 5px;
}
label {
  margin-top: 2rem;
  font-size: 20px;
  line-height: 29px;
  align-items: center;

}
.form_title{
  text-align: center;
}

form{
  margin: 2rem;
  font-size: 14px;  
  background-color: white;
  border-radius: 3px;
  color: var(--second-color);
  font-size: 0.8em;
  /* padding: 20px; */
  /* margin: 0 auto; */
  
}

		input, select{
			border: 0;
			outline: none;
      /* height: 20px; */
			width: 100%;
      height: 50px;
		}

		.field{
			border: solid 1px #68737D;
			padding-left: 10px; 
      margin-bottom: 15px;

			
		}

		.field:focus{
			border-color: #18A383;
		}

		.center-content{
			text-align: center;
		}
.error{
        color: #e74e4e;
        margin-top: -15px;

}

button {
  width: 100%;
 cursor: pointer;
 background: linear-gradient(-45deg, var(--second-color), var(--third-color),var(--first-color));
 background-size: 800% 400%;
 padding: 1em 2em;
 display: inline-block;
 border: none;
 font-size: 17px;
 font-weight: 700;
 color: white;
 transition: all .5s ease-in-out;
 animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

button:hover {
 animation: gradient 3s infinite;
 transform: scale(1.01);
}

button:active {
 animation: gradient 3s infinite;
 transform: scale(0.8);
}

@keyframes gradient {
 0% {
  background-position: 0% 50%;
 }

 50% {
  background-position: 100% 50%;
 }

 100% {
  background-position: 0% 50%;
 }
}




.countryDropDown > select {
  background-color: #fff;
  color: #68737D ;
}

@media screen and (max-width: 1024px) {
  .form{
    margin-top: 0;
  }  
}

@media screen and (max-width: 600px) {
  form{
    margin: 0;
  }
  label {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 29px;
    align-items: center;
}
  
}