.presentation {
  z-index: 1200;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);  
}
.wrapper-modal {
  z-index: -1;
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center; 
  align-items: center;
}

.modal {
  position: relative;
  margin-top: 50px;
  width: auto;
  width: 600px;
  height: 400px; 
  max-height: 400px;
  max-width: 600px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 2px;
  transition: all 400ms ease-in-out 2s;
  animation: fadeIn 400ms;
  color: #080808;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;


}

.modal__content {
  padding: 0px 40px 0px 40px;
}
.modal__title {
  padding: 0;
  font-size: 30px;
  margin: 16px 0;
}
.modal__details {
  font-weight: 600;
  font-size: 18px;
  line-height: 39px;
}
.modal__overview {
  font-size: 16px;
  line-height: 1.5;
}
.modal__user-perc {
  color: #46d369;
}
.modal::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal-close {
  position: absolute;
  right: 20px;
  top: 0;
  cursor: pointer;
  z-index: 1000;
  text-shadow: 1px 1px 2px rgba(0.5, 0.5, 0.5, 0.874);
}

.modal-close:hover {
    transition: var(--transition);

 transform: scale(1.4);
}

@media screen and (max-width: 768px) {
  .modal__overview {
    font-size: 12px;
  }
  .modal__details {
    font-size: 12px;
  }
  .wrapper-modal {
    padding: 0;
  }
  .modal {
    overflow-y: scroll !important;
    max-height: 300px;
    max-width: 250px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}