header {
  height: 350px;
  overflow: hidden;
  background-image: url(../../assets/Group\ 4.svg); 
  background-attachment: fixed;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--second-color);
  /* line-height: 52px; */
  padding: 2rem;  
  text-align: center;
}


.header__webinar {
 color: var(--white-color);
 padding: 0.2rem 1em;
 font-size: 13px;
 text-transform: uppercase;
 /* border-radius: 3px; */
 background: var(--third-color);
 font-weight: bold;
 margin: 2.5rem;
}



.header__title1 {
  font-size: 40px;
  font-weight: bold;
  
}

.header__title2 {
   font-size: 40px;
   font-style: italic;

}

.header__title3 {
  font-style: normal;
  font-weight: lighter;
  font-size: 21px;
  line-height: 40px;
  text-transform: uppercase;
}

.scroll__up {
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--first-color);
  position: fixed;
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

@keyframes fly-1 {
 from {
  transform: translateY(0.1em);
 }

 to {
  transform: translateY(-0.1em);
 }
} */

.scroll__up:hover {
  color: var(--second-color);
  transition: var(--transition); 
}

@media screen and (max-width: 1024px) {
    .header__container{
     line-height: 35px;
     padding: 2rem;  
   }
  .header__title1 {
    font-size: 30px;    
  }

  .header__title2 {
     font-size: 30px;
  }

  .header__title3 { 
    font-size: 25px;
    line-height: 20px;
    margin: 1rem;
  }
}


@media screen and (max-width: 600px) {
  .header__container{
     line-height: 25px;
    padding: 2rem;  
  }
  .header__title1 {
    font-size: 20px;    
  }

  .header__title2 {
     font-size: 20px;
  }

  .header__title3 { 
    font-size: 15px;
    line-height: 20px;
    margin: 1rem;
  }

}


