.section___leftSection {
  margin-top: 4rem;
  font-family: Proxima Nova;
  letter-spacing: 0;
  line-height: 28px;
  font-size: 16px;
}

.section___leftSection > p {
  margin-bottom: 2rem;
}

.section__cards{
  margin: 2rem  0 2rem 0;
}
.section__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 26px;
  max-height: 110px;
}

.section__card img {
  max-width: 74px;
}

.card__info {
  font-family: sharp sans; 
  padding: 2.5rem;
  
}

.info__name{
  font-size: 20px;
}

.info__position {
   font-style: normal;
  font-weight: 500;
}


@media screen and (max-width: 1024px) {
}



@media screen and (max-width: 800px) {

.section__card {
  display: flex;
  flex-direction: column;
  max-height: 170px;
  }

  .card__info {
  padding: 0.2rem;
  text-align: center;
  margin-bottom: 1rem;
  
}

  
}